@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgba(212, 224, 233, 0.76);
  --color-title: #000;
  --align-title: left;
  --padding-container: 100px 0;
  --width-container: 90%;
  --max-width-container: 1200px;
  --color-btn: #444cf7;
  --text-btn: #fff;
  --padding-btn: 20px 35px;
  --height-shape: 18em;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

.gris {
  background: rgba(241, 147, 251, 0.499);
}

li a:hover {
  background: rgba(0, 0, 0, 0.779) !important;
}
.top-nav-collapse {
  background: rgba(0, 0, 0, 0.779);
  color: #fff !important;
}
.navbar-brand img {
  width: 75px;
}

.hero {
  background-image: linear-gradient(
      120deg,
      rgba(241, 147, 251, 0.699) 0%,
      rgba(85, 27, 35, 0.692) 100%
    ),
    url("../assets/Proyectos/Proyecto_Encabezado.jpg");
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.textos-hero {
  height: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textos-hero h1 {
  font-size: 80px;
}
.textos-hero h3 {
  font-size: 50px;
}

.svg-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* impacto Sociales */
.sesgoarriba {
  z-index: 50;
  top: 0;
  left: 0;
  border-width: 35vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.sesgoabajo {
  z-index: 10;
  bottom: 0;
  left: 0;
  border-width: 0 0 25vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.container-sm {
  background: #f2f2f2 !important;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-sl {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  background: #ffffff !important;
}

.item {
  transition: 0.5s ease-in-out;
  margin-bottom: 2%;
}
.item:hover {
  filter: brightness(80%);
}
.Galeria-item {
  width: 90%;
  height: 320px;
  border-radius: 20px;
}

.Galeria-item-1 {
  margin-top: 10%;
  width: 95%;
  height: 320px;
  border-radius: 20px;
}

.img_left {
  text-align: right !important;
  width: 95%;
  height: 320px;
  border-radius: 20px;

}

/* Entrega  */
.Impactos-Sociales {
  display: grid;
  grid-template-columns: 50% 50%;
}

.Impactos-Sociales-sm {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 0px;
}

.titulo {
  text-align: center;
  margin-bottom: 1%;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

.Impactos-Sociales p {
  padding-top: 30px;
}

.cta {
  display: inline-block;
  text-decoration: none;
  text-align:  center !important;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #ff9a9e 100%
  );
  padding: 05px 05px 05px 05px;
  margin-left: 2px;
  border-radius: 8px;
  color: #fff;
}


.about__paragraph{
padding-top: 60px;
}

/*-----------------------------------*/


/* footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: rgb(48, 48, 48);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 0 90px 0 0;
}

footer img {
  height: 190px;
  width: 300px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .container.sec {
  margin-right: 30px;
}

footer .container .sec.aboutus {
  width: 40%;
}

footer .container .sec.aboutus h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container .sec.aboutus h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer p {
  color: #999;
}
.footer h2 {
  color: #f2f2f2;
}
.sci {
  display: flex;
}

.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 100px;
}

.quickLinks {
  position: relative;
  width: 25%;
}
.footer h3 {
  color: #fff;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.contacto {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contacto .info_contac {
  position: relative;
}

.contacto .info_contac li {
  display: flex;
  margin-bottom: 16px;
}

.contacto .info_contac li span:nth-child(1) {
  color: #999;
  font-size: 14px;
  margin-right: 10px;
}

.contacto .info_contac li span {
  color: #999;
}
.copyrightText {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

/* footer */

@media screen and (max-width: 800px) {
  .Impactos-Sociales{
    display: grid;
    grid-column: 40px 60px;
  }
  
  .Impactos-Sociales-sm{
    display: grid;
    grid-column: 60px 40px;
  }
  .Galeria-item-1{
    margin-top: 4%;
    align-items: center;
    height: 400px;
  }
  
}

@media (max-width: 500px) {
  .textos-hero h1 {
    font-size: 70px;
  }
  .textos-hero h3 {
    margin-top: 20px;
    font-size: 40px !important;
    text-align: center;
  }
  


  .Impactos-Sociales-sm, .Impactos-Sociales {
    display:flow-root;   
  }
  .Galeria-item {
   margin-top: 4%;
   margin-bottom: 4%;
    text-align: right;
    width: 80%;
  }
  
  .Galeria-item-1 {
    align-items: center;
    width: 80%;
  }
  
  .titulo{
    font-size: 30px;
    margin-bottom: 0%;
  }

  .img_left{
    width: 80%;
  }

  .about__paragraph{
    padding-top: 20px;
  }

  
}

@media screen and (max-width: 900px) {
  footer {
    padding: 40px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }

  footer .container .sec.aboutus,
  .quickLinks,
  .contacto {
    width: 100%;
  }
  .copyrightText {
    padding: 8px 40px;
  }
}
